# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# IDEs and editors
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Output
output/
